:root {
  /* Font management */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  font-size: 20px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  /* Box sizes will include border and paddings */
  box-sizing: border-box;

  /* Center content to improve legibility */
  max-width: 75ch;
  margin: auto;
}

/* Inherit box sizing to allow rollbacks on any specific section */
*, *::before, *::after {
  box-sizing: inherit;
}

/* Form and clear button in the same row */
.filmForm header {
  display: flex;
  flex-direction: row;
}
.filmForm form {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
/* Search bar input will be bigger than it's siblings */
.filmForm form .searchBar {
  flex-grow: 1;
}

/* Input errors will be red */
.filmForm footer p {
  color: red;
  margin: 0;
}

.filmsHoarding ul {
  /* Reset list default style */
  list-style-type: none;
  padding: 0;

  /* Creates a responsive Grid layout */
  display: grid;
    /* Fit automatically the number of columns depending on the container size:
     * - Each column will be between 200px and the whole space
    */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1em;
}

/* Center the text inside films hoarding */
.filmsHoarding {
  text-align: center;
}

/* Each poster's corner will be rounded */
.filmsHoarding img {
  border-radius: 8px;
}
